*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    background-color: cadetblue;
    /* width: 100px;
    height: 100px; */
    /* border: 2px solid; */
    position: relative;
    outline: 5px solid red;
    margin: 50px;
    height: 60vh;
    
}
.box{
    height: 100px;
    outline: 1px solid white;

}
.box4{
    width: 80px;
    color: yellow;
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    
    z-index: 3;
    /* z-index: ettavum veliyath aavum mele kaanikka */
}
.box5{
    width: 200px;
    color: yellow;
    background-color: rgb(255, 0, 212);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.box3{
    width: 380px;
    color: yellow;
    background-color: rgb(0, 255, 102);
    position: absolute;
    top: 0;
    left: 0;
   
    z-index: 1;
}
